<!DOCTYPE html>
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
    </head>
    <body>
        <%- include("./partials/header.ejs") %>

        <main class="container-fluid mt-4">
            <div class="row row-cols-2 row-cols-md-3">

                <% locals.elementi.forEach(element => {%>

                    <div class="col-lg-4 col-md-6 mb-4">
                        <a href="/asta/<%=element.Asta%>" class="text-decoration-none">
                            <div class="card">
                                <img src="/api/asta/<%=element.Creatore %>/<%= element.Asta%>/1" alt="Immagine" class="card-img-top">
                                <div class="card-body">
                                    <h2 class="card-title"><%=element.Titolo%></h2>
                                    <p class="card-text"><%=element.Descrizione%></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    
                <%})%>

            </div>
        </main>
        
        <%- include("../partials/bootstrap.ejs") %>

    </body>
</html>