<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
    </head>
    <body>
        <header class="bg-dark text-white py-3">
            <div class="container-fluid d-flex justify-content-between align-items-center">
                <a href="/" class="text-decoration-none"><h1 class="m-0">Home</h1></a>
                <div class="user-profile">
                    <%if (!locals.auten){%>
                        <a href="/login" class="btn btn-primary">Accedi</a>
                    <%}else{%>
                        <img src="/UserImg" alt="Immagine Profilo" class="rounded-circle" id="user-profile-img" data-bs-toggle="dropdown" aria-expanded="false" width="40" height="40">
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="user-profile-img">
                            <li><a class="dropdown-item" href="/personal">Pagina Personale</a></li>
                            <li><form action="/logout?_method=DELETE" method="post">
                                    <button class="dropdown-item" type="submit">logout</button>
                                </form>
                            </li>
                        </ul>
                    <%}%>
                </div>
            </div>
        </header>

        
        <main class="bg-light">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center mt-4">
                        <!-- Timer -->
                        <p id="countdown-timer">Tempo rimasto: Caricamento...</p>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3">
                        <!-- Colonna sinistra con immagini miniature -->
                        <div class="card">
                            <div class="card-body">
                                <% for (let x = 1; x <= locals.img; x++) { %>
                                    <img src="/api/asta/<%= locals.User_ID %>/<%= locals.ID_Asta %>/<%= x %>" alt="" class="img-thumbnail mb-2">
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Colonna centrale con immagine principale -->
                        <div class="card">
                            <img src="/api/asta/<%= locals.User_ID %>/<%= locals.ID_Asta %>/1" alt="" class="card-img-top">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <!-- Colonna destra con titolo, descrizione e form per l'offerta -->
                        <div class="card">
                            <div class="card-body">
                                <h2><%= locals.Titolo %></h2>
                                <p><%= locals.Descrizione %></p>
                                <p id="offer-description">Valore dell'offerta: Caricamento...</p>
                                <% if (locals.auten) { %>
                                    <% if (!locals.Auctioner) { %>
                                        <% if (locals.Winner === undefined) { %>
                                            <form id="offerta-form">
                                                <div class="mb-3">
                                                    <label for="offerta" class="form-label">Offerta:</label>
                                                    <input type="number" id="offerta" name="offerta" class="form-control">
                                                </div>
                                                <button type="submit" class="btn btn-primary" id="invia-offerta">Fai OFFERTA</button>
                                            </form>
                                        <% } else if (locals.Winner === false) { %>
                                            <p>Non hai vinto</p>
                                        <% } else {%>
                                            <p>Hai vinto</p>
                                        <% } %>
                                        
                                    <% } else if (locals.noffer) { %>
                                        <p>Non ci sono state offerte mi dispiace</p>
                                    <% } else if (locals.Winner) { %>
                                        <p>L'utente <%= locals.Name %> è il vincitore</p>
                                    <% } else { %>
                                        <p>L'asta non è conclusa</p>
                                    <% } %>

                                <% } else { %>
                                    <p>Autenticati per fare un'offerta.</p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script type="module">
            import {fetchTimer, fetchOfferta, setListeners } from '/js/Asta.js'

            Promise.resolve(fetchTimer("<%= locals.ID_Asta %>"));
            Promise.resolve(fetchOfferta("<%= locals.ID_Asta %>"));
            setListeners("<%= locals.User_ID %>", "<%= locals.ID_Asta %>");
        </script>
        <% if (locals.auten) { %>
            <script>
                const offerDescription = document.querySelector('#offer-description');
                if(window.location.protocol == 'https:'){
                    const ws = new WebSocket(`wss://${window.location.host}/auction/<%= locals.ID_Asta %>`);
                    const offertaForm = document.querySelector('#offerta-form');

                    ws.onmessage = (event) => {
                        const data = JSON.parse(event.data);
                        console.log(data);
                        offerDescription.innerHTML = `Valore dell'offerta: ${data.offerta}€`;
                    }  
                    
                    ws.onclose = () => {
                        location.reload();
                    }
    
                    offertaForm.addEventListener('submit', (e) => {
                        e.preventDefault();
                        console.log('submit');
                        const offertaValue = document.querySelector('#offerta').value;
                        ws.send(JSON.stringify({offerta: offertaValue}));
                    
                    });
                }
            </script>
        <% } %>
        

        <%- include("./partials/bootstrap.ejs") %>
    </body>
</html>